:root {
  --cell-size: 6.25rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background: #232323;
  color: #fff;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curser_pointer {
  cursor: pointer;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
}

.info {
  font-size: 1.5rem;
  margin-block: 1.5rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
  max-width: 600px;
}

.game-info-texts,
.game-info-btns {
  display: flex;
  gap: 1.3rem;
  flex-direction: row;
  justify-content: space-around;
}
.game-info-texts {
  & p {
    font-size: 1.45rem;
    color: chartreuse;
    margin-block: 1.5rem;
    white-space: nowrap;
  }
}

.game-info-btns {
  margin-block: 1.5rem;
  width: 100%;

  & button {
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: 0.35rem;
    border-radius: 0.35rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: magenta;
    color: #fff;
  }

  & button:disabled {
    background: #6c757d;
    color: #ccc;
    cursor: auto;
  }
}

#reset-game,
#reset-game:disabled {
  font-size: 1.25rem;
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

#reset-game:disabled {
  background: #6c757d;
  color: #ccc;
  cursor: auto;
  border: none;
}

#reset-game {
  background: #0d6efd;
  cursor: pointer;
  color: #fff;
  border: none;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  background: url(circle.svg) center;
  background-size: cover;
  animation: grow 70ms ease-in;
}

@keyframes grow {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 100;
    scale: 1;
  }
}

.cross {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  background: url(cross.svg) center;
  background-size: cover;
  animation: grow 70ms ease-in;
}

/* .cross::before,
.cross::after {
  content: '';
  background: yellow;
  position: absolute;
}

.cross:before {
  width: 20%;
  height: 100%;
  left: 50%;
  margin-left: -10%;
}

.cross:after {
  width: 100%;
  height: 20%;
  top: 50%;
  margin-top: -10%;
} */

@media screen and (max-width: 1023px) {
  html {
    font-size: 20px;
  }

  .game-info-btns {
    display: flex;
  }
  .game-info-texts {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .game-info-btns {
    display: none;
  }
  .game-info-texts {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 16px;
  }
}
