:root {
  --cell-size: 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232323;
  color: #fff;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curser_pointer {
  cursor: pointer;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
}

.info {
  font-size: 1.5rem;
  margin-block: 1.5rem;
}

.game-info {
  display: flex;
  gap: 1.3rem;

  & p {
    font-size: 23px;
    color: chartreuse;
    margin-block: 1.5rem;
  }
}

#reset-game,
#reset-game:disabled {
  font-size: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 8px;
}

#reset-game:disabled {
  background: #6c757d;
  color: #ccc;
  cursor: auto;
  border: none;
}

#reset-game {
  background: #0d6efd;
  cursor: pointer;
  color: #fff;
  border: none;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  background: url(circle.svg) center;
  background-size: cover;
  animation: grow 70ms ease-in;
}

@keyframes grow {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 100;
    scale: 1;
  }
}

.cross {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  background: url(cross.svg) center;
  background-size: cover;
  animation: grow 70ms ease-in;
}
